{% extends "index.html" %}
{% load static %}




{% block content %}
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />

<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<style>
	.hidden{
        display:none;
    }

    .result{
    	max-width:auto;
    }
</style>

  <div class="jumbotron">
    <div class="p-5 text-center bg-light" style="margin-top: 10px;">
      <h1 class="mb-3">Post</h1>
    </div>


    <div class="row">
        
            {%if request.user.is_authenticated%}
            <div class="col-md-12">
                <button class="btn btn-outline-success w-100 btn-lg" i class="fas fa-plus" id="add-blog"></i> Add New Post </button>
                
                    <div class="form-add-blog hidden mt-2" style="width: 61%;"  >
                      <form action="{% url 'Post:admin_postlist' %}" method="post" autocomplete = "off" >                       
                          {%csrf_token%}
                          {{form}}                                                   
                          <button type="submit" class="btn btn-sm btn-success m-1"><i class="fas fa-save" ></i>Submit</button>
                      </form>
                    </div>                      
              </div>

            {%else%}
            <button type="submit" class="btn btn-outline-success w-100 btn-lg" data-bs-toggle="modal" data-bs-target="#edit{{item.id}}">
              <i class="fas fa-plus"></i> Add New Post
            </button>
            <div class="modal fade" id="edit{{item.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">User Login Required</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                   You must login to edit items!
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a href="{% url 'members:login' %}"class="btn btn-primary active" role="button" aria-pressed="true">Login</a>
                  </div>
                </div>
              </div>
            </div>
            {%endif%}
        </a>
      </div>
    </div>
  </div>
  <script>
 
    var newId = 4
    var newpost = { 'name': null, 'id': newId, 'Articels': null }
 
    $('#add-blog').on('click', function () {
        $('.form-add-blog').removeClass('hidden')
    })
 
    
   
    </script>
   
<hr>

<br>



<br>

    <!-- Start of Jumbotron -->
        <div class="jumbotron jumbotron-fluid" >

                <hr class="my-4">
                <table  id="datatablesSimple" class="table table-borderless table-striped table-hover table-fixed">
                      <thead class="border-bottom font-weight-bold text-white w-100 ">
                        <tr style="background-color:#214e7f">
                          <th>Title</th>
                          <th>Date Created</th>
                          <th>Last Edit Date</th>
                          <th>Author</th>
                          <th>Home Page</th>
                          <th>Featured</th>

                          <th></th>
                        </tr>
                      </thead>

                      <tbody>
                        {%for item in posts %}

                        <tr>

                            <td>{{item.title}}</td>
                            <td>{{item.date_created}}</td>
                            <td>{{item.last_edit_date}}</td>
                            <td>{{item.author.user.get_full_name}}</td>
                            <td>{{item.HomePage}}</td>
                            <td>{{item.FeaturedPost}}</td>
                            <td>
                              {%if request.user.is_authenticated%}
                              <a href="{% url 'Post:post_update' item.id %}#" class="btn text-secondary">
                                  <i class="far fa-edit fa-lg fa-fw"></i>
                              </a>
                              {%else%}
                              <button type="submit" class="btn" data-bs-toggle="modal" data-bs-target="#edit{{item.id}}">
                                <i class="far fa-edit fa-lg fa-fw"></i>
                              </button>
                              <div class="modal fade" id="edit{{item.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">User Login Required</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                     You must login to edit items!
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                      <a href="{% url 'members:login' %}"class="btn btn-primary active" role="button" aria-pressed="true">Login</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              {%endif%}
                              <a href="{% url 'Post:imageList' item.album.id %}" class="btn text-secondary">
                                <i class="far fa-image fa-lg fa-fw"></i>
                              </a>

                              <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#test{{item.id}}">
                                <i class="far fa-trash-alt fa-lg text-danger fa-fw"></i>
                              </button>
                              <!-- Modal -->

                              {%if request.user.is_authenticated%}
                              <div class="modal fade" id="test{{item.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                      Are you sure you want to delete post {{item.album.name}}?
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                      <form action="{% url 'Post:post_delete' item.album.id %}" method="post" class="d-inline" >
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-primary">Delete</button>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              {%else%}
                              <div class="modal fade" id="test{{item.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">User Login Required</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                     You must login to delete items!
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                      <a href="{% url 'members:login' %}"class="btn btn-primary active" role="button" aria-pressed="true">Login</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              {%endif%}

                            </td>
                        </tr>
                        {% endfor %}
                      </tbody>

                </table>



          
                


        </div>

      <!-- End of Jumbotron -->

    
        <script src="{%static 'Post/js/scripts.js'%}"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="{% static 'Post/js/datatables-simple-demo.js'%}"></script>
    </body>
{% endblock %}